// Custom styles.

body {
    // background:url(/images/saber_test.jpg);
    //background-image:url(https://lewky.cn/images/background/saber1.jpg);
    background-color: #f0f0f4;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    //-webkit-filter: blur(15px);
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
    border: 1px solid #f0c570;
    border-radius: 5px;
    padding-left: 2em;
}

.alert-warning:hover {
    background-color: #faf2cc;
	border-color: #f0c570;
}

.high-priority {
    position: relative;
    // background-image:url(https://thumbs.dreamstime.com/b/high-priority-red-stamp-text-white-48506470.jpg);
    width: 80%;
    z-index:100;
}

.high-priority-inner {
    position: absolute;
    width: "100%";
    z-index:101;
    top: 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}